link{
    display: none;
}
.headingDiv{
    background-color:rgb(42, 109, 42);
    text-align: center;
}

.inline{
    display: flex;
    align-items: center;
    gap: 20px;
}

body{
    background-image: url(../assets/stars.gif);
    color: aliceblue;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

p{
    color: whitesmoke;
    font-size: larger;
}

button{
    background-color: maroon;
    color: aliceblue;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

pre{
    font-size: large;
}


.container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #7f1717;
    border:1px solid black;
}

li a {
  display: block;
  color: whitesmoke;
  padding: 8px 16px;
  text-decoration: none;
  border:1px solid black;
}

/* Change the link and background color on hover */
li a:hover {
  background-color: #490505;
  color: whitesmoke;
}