table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

head{
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    background-color: black;
}

td:hover {
    background-color: lightgray;
    cursor: pointer;
}