body {
    background-color: black;
  color:aliceblue;
}
h1 {
    text-align:center;
    border-radius: -5%;
    border: 3px solid rgb(100, 11, 85);
    background-color:crimson;
    font-family: 'Brush Script MT', cursive;
    color:maroon;
}
button{
        background-color:maroon;
        color:aliceblue;
        font-family: 'Brush Script MT', cursive;
        font-size:large;
}
img{
    border-radius: -5%;
    border: 3px solid whitesmoke;
    align-self: center;
}
ol{
    color: whitesmoke;
    font-size: larger;
   }
table, th, td {
    border:2px solid whitesmoke;
    align-self: center;
  }
  a{
    color: whitesmoke;
   }
   pre{
    color: whitesmoke;
   }
   dl{
    color: whitesmoke;
    font-size: larger;
   }
   p{
    color:white;
  font-size: larger;
}
