.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 600px; 
    margin: auto;
    overflow: hidden;
  }

  .slide {
    display: none;
    text-align: center;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    padding: 10px;
    background-color: white(0, 0, 0, 0.5);
    color: black;
    border: none;
    cursor: pointer;
    font-size: 18px;
    z-index: 1000;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  .prev:hover, .next:hover {
    background-color: white(0, 0, 0, 0.7);
  }

  figcaption {
    color: black;
    background-color: white(0, 0, 0, 0.5);
    padding: 5px;
  }
body{
    background-color: black;
}
p,h1,h2,h3{
    color: #ccc;
}